<h1>Home away from Holmes</h1>
<h1>Animal Shelter</h1>

<img src="https://goo.gl/images/BhG9ST" alt="Home Family crest">
<img src="https://goo.gl/images/oUZEpg" alt="BACK">
<nav>
  <ul>
    <!-- <a href="/animals/new">Register a New Animal</a> -->
    <a href="/animals/show">View Animals</a>
    <!-- <a href="/owners/new">Register a Potential Owner</a> -->
    <a href="/owners/show">View Owners</a>
    <!-- <a href="/adoptions">Adopt an Animal</a> -->
    <a href="/adoptions/new">Adopt an Animal</a>
    <a href="/adoptions/show">View all Adoptions</a>
  </ul>
</nav>

<p>"When we adopt a dog or any pet, we know it is going to end with us having to say goodbye, but we still do it. And we do it for a very good reason: They bring so much joy and optimism and happiness. They attack every moment of every day with that attitude. -- Bruce Cameron
</p>
<!-- Read more at: https://www.brainyquote.com/search_results?q=adopt+a+pet -->

<!-- <p>"Such short little lives our pets have to spend with us, and they spend most of it waiting for us to come home each day." - John Grogan</p> -->
