<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Animal Shelter</title>
    <link href="https://fonts.googleapis.com/css?family=Lemon" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Flavors" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Finger+Paint" rel="stylesheet">
  </head>
  <body>
    <center>
    <%= yield %>
  </center>
  </body>
</html>
