<h1>All Potential and Adopted Pet Owners</h1>

<% @owners.each do |owner| %>
  <p> <strong>Name:</strong> <%= owner.first_name %> <%= owner.last_name%></p>



  <p> <a href="/owners/<%= owner.id() %> ">Show Owner Details</a> </p>
  <hr />
<% end %>
